<section>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
	<fieldset>
		<p>
    <label> Customer name:
    </label>
      <input class="input_name" formControlName="name">

    </p>
    <!--  <p style="    margin: 4px 326px 15px;    background-color: #5b9bd5;" *ngIf="loginForm.controls['name'].hasError('required') && loginForm.controls['name'].touched" class="alerts alert-danger">A customer name is required.
              </p> -->
    <p>
    <label  >Email address:
    </label>
      <input class="input_email" formControlName="email" >
</p>
<p>
  <button [disabled]="loginForm.invalid" input="submit">Submit </button>
  </p>
</fieldset>
</form>

</section>

