<section>
    <form [formGroup]="detailsForm" (ngSubmit)="onSubmit(detailsForm.value)">
    

      <div formArrayName="itemRows" class="row" >
      
        <div *ngFor="let itemrow of detailsForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
            <label>Product</label>
            <input formControlName="productname">
          
            <label>Quantity</label>
            <input formControlName="quantity">

            <label>Amount</label>
            <input formControlName="amount">

            <label>Tax %</label>
            <input  formControlName="tax">

            <label>Total</label>
            <input formControlName="total">
          <button  (click)="deleteRow(i)">-</button>
        </div>
      </div>


	<label>Discount:</label>
    <input  type="text" formControlName="discount" />

	<label>Grand Total:</label>
    <input type="text" formControlName="g_total" />

    <button type="button" (click)="addNewRow()" >+</button><br>
    <button type="submit" >Print</button><br>

    </form>
</section>
  